.nutrition-progress {
  .progress {
    border-radius: 3px;
    background-color: var(--progress-bg);
    
    .progress-bar {
      transition: width 0.3s ease;
    }
  }
  
  small {
    font-size: 0.75rem;
  }

  .progress-bar {
    border-radius: 0.25rem;
  }

  .bg-light {
    background-color: pink !important;
  }
  
  .bg-dark {
    border: 1px solid #9a9a9a !important;
  }
}
