.nutrition-progress-bars {
  &.layout-vertical {
    .progress-container {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }
  }

  &.layout-horizontal {
    .progress-container {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      flex-wrap: wrap;

      app-nutrition-progress-bar {
        flex: 1;
        min-width: 150px;
      }
    }
  }
}